body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
}

.cta-section {
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9; /* Background color for the cta-section */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* Optional: Remove button border */
}

.cta-button:hover {
    background-color: #2980b9;
}

.features-section {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.features-section h2 {
    text-align: center;
}

.features-section p {
    text-align: center;
}

.features-section p span {
    margin-right: 10px;
    color: #3498db;
}

.admin-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.admin-login-form label {
    margin-bottom: 5px;
}

.admin-login-form input {
    padding: 10px;
    margin-bottom: 10px;
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-login-form button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-login-form button:hover {
    background-color: #2980b9;
}

footer{
    text-align: center;
}




